.eggs/pytest_runner-6.0.0-py3.8.egg/
.vscode/
__pycache__/
gwp/
k-gnn/
k_gnn.egg-info/
processed/
raw/
result/
wandb/
.ipynb_checkpoints
runs
*.pt
*.pth
*.pdf
*.ipynb
*.txt
*.html
.DS_Store
slurm*
metrics*.csv
*.pkl
*.sif

Models/
Results/*
# Except for Readme.md
!Results/Readme.md